<div class="navbar-secondary">
    <div class="layout-container">
        <ul class="navbar-secondary__items">
            <li class="navbar-secondary__item">
                <a class="navbar-secondary__item-link">
                    Home
                </a>
            </li>
            <li class="navbar-secondary__item">
                <a class="navbar-secondary__item-link">
                    Prerequisites
                </a>
            </li>
            <li class="navbar-secondary__item">
                <a class="navbar-secondary__item-link">
                    Modules
                </a>
            </li>
            <li class="navbar-secondary__item">
                <a class="navbar-secondary__item-link">
                    About
                </a>
            </li>
        </ul>
    </div>
</div>
