<div class="content">
    <h3 class="content__title">CSS/SCSS Architecture</h3>
    <p class="content__description">
        Focus primarily on the default “Emulated” View Encapsulation mode for Angular components. We cover concepts regarding how global styles, variables, and mixins can be handled. We look at implementing systems for CSS selectors and naming conventions. We then create a system that will allow us to apply relative units with predictability. We explore creating well-organized and structured files and address the selectors we use as well as issues regarding style overrides. We explore ideas around code, file, and directory structure and organization. And finally, we leverage the ever polular SASS preprocessor to create relationships between the styles within individual components or across multiple components making them easier to edit and maintain over time.
    </p>
</div>
<saa-thumbnail-list
    [ngClass]="{
        'color--01': isColor01,
        'color--02': !isColor01}"
    class="layout--01 ">
</saa-thumbnail-list>