@import 'colors';




.items {
    border-bottom: solid 1px #ccc;
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0;
}

.item {
    margin-bottom: -1px;
    
    &__link {
        border-radius: 0.5em 0.5em 0 0;
        border: solid 1px #ccc;
        display: block;
        margin: 0 0.2em;
        padding: 1em;
        transition: background ease 0.25s;

        // Inactive
        &--inactive {
            background: #efefef;
            color: $g-root__color--primary--02a;
            cursor: pointer;
    
            &:hover {
                background: $g-root__color--secondary--04c;
                border-bottom-color: #ccc;
                color: $g-root__color--primary--02b;
                text-decoration: none;
            }
    
            &:active {
                color: $g-root__color--primary--02b;
            }
    
            &:visited {
                color: $g-root__color--primary--02a;
            }
    
        }

        // Active
        &--active {
            background: white;
            border-bottom-color: transparent;
            color: $g-root__color--primary--03a;
    
            &:hover,
            &:active,
            &:visited {      
                background: white; 
                border-bottom-color: transparent;        
                color: $g-root__color--primary--03a;
                cursor: default;                
            }
    
        }

    }

    // First Item
    &:first-child &__link {
        margin-left: 0;
    }

}
