@import 'links';




:host {
    border-top: solid 0.0625em #ccc;
    display: block;
    font-size: 1rem;
}

.items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {        
    border: solid 0.0625em #ccc;
    border-top: none;

    &__label {
        @include g-root__link;
        display: flex;
        padding: 1em;

        &::after {
            content: '\25bc';
            max-width: 1em;
            min-width: 1em;
        }

        &-text {
            flex: 1;
            padding-right: 0.5em;
        }

        // Hover
        &:hover {
            text-decoration: none;
        }

        &:hover &-text {
            text-decoration: underline;
        }

        // Active
        &--active::after {
            content: '\25b2';
        }

    }

}




// Media Queries
// _________________________________________________________________________________________
@media (max-width: 58em) {

    :host {
        font-size: 0.8125em;
    }

}
