<ul class="accordion">
    <li 
        *ngFor="let item of items; let i = index"
        class="accordion__item"
        [class.accordion__item--active]="activeIndex === i">
        <a 
            (click)="selectItem(i)"
            class="accordion__label"
            [class.accordion__label--active]="activeIndex === i">
            <span class="accordion__label-text">
                {{item.title}}
            </span>
        </a>
        <ng-container *ngIf="activeIndex === i">
            <ng-template [ngTemplateOutlet]="item.template"></ng-template>
        </ng-container>
    </li>
</ul>
