@import 'colors';
@import 'container';
@import 'headers';




.header {
    background: $g-root__color--secondary--04a;
    display: block;
    font-family: arial, sans-serif;
    overflow: hidden;
    margin-bottom: 1.8em;

    &__content {
        @include g-layout__container;
    }

    &__title {
        @include g-root__h1;
        color: white;
    }

    &__sub-title {
        color: #888;
    }

}
