@use 'sass:math';

// Container
// _________________________________________________________________________________________
.layout-container {
    margin: 0 auto;
    max-width: 75rem;
    padding: 0 1.5rem;
}




// Grid
// _________________________________________________________________________________________
$spacing--xAxis: 2em;
$spacing--yAxis: 2em;

.layout-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: math.div($spacing--xAxis, 2) * -1;
    margin-right: math.div($spacing--xAxis, 2) * -1;
}

$widths: (
    layout-grid__item--01: 8.333333333%,
    layout-grid__item--02: 16.666666667%,
    layout-grid__item--03: 25%,
    layout-grid__item--04: 33.333333333%,
    layout-grid__item--05: 41.666666667%,
    layout-grid__item--06: 50%,
    layout-grid__item--07: 58.333333333%,
    layout-grid__item--08: 66.666666667%,
    layout-grid__item--09: 75%,
    layout-grid__item--10: 83.333333333%,
    layout-grid__item--11: 91.666666667%,
    layout-grid__item--12: 100%
);

@each $class, $width in $widths {
    .#{$class} {
        flex: 1 calc(#{$width} - 1em);
        margin: 0 math.div($spacing--xAxis, 2) $spacing--yAxis;
        max-width: calc(#{$width} - #{$spacing--xAxis});
    }
}
