@use 'sass:math';

// Container
// _________________________________________________________________________________________
.layout-container {
    margin: 0 auto;
    max-width: 75rem;
    padding: 0 1.5rem;
}




// Grid
// _________________________________________________________________________________________
$spacing--xAxis: 2em;
$spacing--yAxis: 2em;

.layout-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: math.div($spacing--xAxis, 2);
    margin-right: math.div($spacing--xAxis, 2);
}

// Large
$widths: (
    layout-grid__item--lg--01: 8.333333333%,
    layout-grid__item--lg--02: 16.666666667%,
    layout-grid__item--lg--03: 25%,
    layout-grid__item--lg--04: 33.333333333%,
    layout-grid__item--lg--05: 41.666666667%,
    layout-grid__item--lg--06: 50%,
    layout-grid__item--lg--07: 58.333333333%,
    layout-grid__item--lg--08: 66.666666667%,
    layout-grid__item--lg--09: 75%,
    layout-grid__item--lg--10: 83.333333333%,
    layout-grid__item--lg--11: 91.666666667%,
    layout-grid__item--lg--12: 100%
);

@each $class, $width in $widths {
    .#{$class} {
        flex: 1 calc(#{$width} - 1em);
        margin: 0 math.div($spacing--xAxis, 2) $spacing--yAxis;
        max-width: calc(#{$width} - #{$spacing--xAxis});
    }
}

// Medium
@media (max-width: 60rem) {

    $widths: (
        layout-grid__item--md--01: 8.333333333%,
        layout-grid__item--md--02: 16.666666667%,
        layout-grid__item--md--03: 25%,
        layout-grid__item--md--04: 33.333333333%,
        layout-grid__item--md--05: 41.666666667%,
        layout-grid__item--md--06: 50%,
        layout-grid__item--md--07: 58.333333333%,
        layout-grid__item--md--08: 66.666666667%,
        layout-grid__item--md--09: 75%,
        layout-grid__item--md--10: 83.333333333%,
        layout-grid__item--md--11: 91.666666667%,
        layout-grid__item--md--12: 100%
    );

    @each $class, $width in $widths {
        .#{$class} {
            flex: 1 calc(#{$width} - 1em);
            margin: 0 math.div($spacing--xAxis, 2) $spacing--yAxis;
            max-width: calc(#{$width} - #{$spacing--xAxis});
        }
    }

}

// Small
@media (max-width: 52rem) {

    $widths: (
        layout-grid__item--sm--01: 8.333333333%,
        layout-grid__item--sm--02: 16.666666667%,
        layout-grid__item--sm--03: 25%,
        layout-grid__item--sm--04: 33.333333333%,
        layout-grid__item--sm--05: 41.666666667%,
        layout-grid__item--sm--06: 50%,
        layout-grid__item--sm--07: 58.333333333%,
        layout-grid__item--sm--08: 66.666666667%,
        layout-grid__item--sm--09: 75%,
        layout-grid__item--sm--10: 83.333333333%,
        layout-grid__item--sm--11: 91.666666667%,
        layout-grid__item--sm--12: 100%
    );

    @each $class, $width in $widths {
        .#{$class} {
            flex: 1 calc(#{$width} - 1em);
            margin: 0 math.div($spacing--xAxis, 2) $spacing--yAxis;
            max-width: calc(#{$width} - #{$spacing--xAxis});
        }
    }

}
