@import 'variables';




@mixin navbar-primary__icon {
    fill: white;
    height: $navbar-primary__icon-size;
    width: $navbar-primary__icon-size;
}   

@mixin navigation__search {

    &--search {
        margin-left: auto;
    }

    &__search {
        align-items: center;
        display: flex;
        margin: 0;
    
        &-field {
            background: rgba(white, 0.25);
            border: none;
            border-radius: 0.3em;
            color: white;
            padding: 0.25em 0.5em;
            width: 14em;
        }

        &-icon {
            @include navbar-primary__icon;
            margin-left: 0.5em;
        }

    }

}