@use 'links';




.items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {        
    border: solid 0.0625em #ccc;
    border-top: none;

    &__label {
        @include links.g-root__link;
        display: flex;
        padding: 1em;

        &::after {
            max-width: 1em;
            min-width: 1em;
        }

        &-text {
            flex: 1;
            padding-right: 0.5em;
        }

        // Hover
        &:hover {
            text-decoration: none;
        }

        &:hover &-text {
            text-decoration: underline;
        }

        // Inactive
        &--inactive::after {
            content: '\25bc';
        }

        // Active
        &--active::after {
            content: '\25b2';
        }

    }

}
