@mixin g-root__h1 {
    font-size: 2.827em;
    font-weight: normal;
    line-height: 1.2;
    margin: 1em 0 0.25em;
}

@mixin g-root__h2 {
    font-size: 1.999em;
    font-weight: normal;
    line-height: 1.2;
    margin: 1em 0 0.5em;
}

@mixin g-root__h3 {
    font-size: 1.414em;
    font-weight: normal;
    line-height: 1.4;
    margin: 1em 0 0.7em;
}
