@import 'colors';




:host(.color--02) {

    .item {
        background: $g-root__color--secondary--01a;
        color: white;

        &__thumbnail {
            background: rgba(white, 0.3);
        }

        &__button {
            background: rgba(white, 0.3);
            //color: white;

            &:hover {
                background: rgba(white, 0.5);
            }

        }

    }

}
