@import 'grid';




:host(.layout--02) {

    .items {
        @include g-layout__grid;
    }

    .item {
        @include g-layout__grid__item--06;

        &__image {
            height: 12em;
        }

        &__content {
            padding: 0.5em;
        }

    }

}
