@import 'colors';




:host {
    font-size: 1rem;
}

.items {
    display: flex; 
    list-style: none; 
    margin: 1em 0; 
    padding: 0;
}

        
.item__link {
    background: #efefef;
    background: rgba($g-root__color--secondary--04c, 0.6);
    border-radius: 0.5em;
    color: $g-root__color--primary--02a;
    cursor: pointer;
    display: block;
    margin: 0 0.2em;
    padding: 0.5em 1em;
    transition: background ease 0.25s;
}

.item__link:hover {
    background: $g-root__color--secondary--04c;
    color: $g-root__color--primary--02b;
    text-decoration: none;
}

.item__link:active {
    color: $g-root__color--primary--02b;
}

.item__link:visited {
    color: $g-root__color--primary--02a;
}

// First Item
.item:first-child .item__link {
    margin-left: 0;
}

// Selected
.item__link--selected {
    background: $g-root__color--primary--02a;
    color: white;
}

.item__link--selected:hover,
.item__link--selected:active {      
    background: $g-root__color--primary--02a;          
    color: white;
    cursor: default;                
}

.item__link--selected:visited {
    color: white;
}
