@import 'colors';



.items {
    display: flex; 
    font-size: 1rem;
    list-style: none; 
    margin: 1em 0; 
    padding: 0;
}

.item {

    &__link {
        background: #efefef;
        background: rgba($g-root__color--secondary--04c, 0.6);
        border-radius: 0.5em;
        color: $g-root__color--primary--02a;
        cursor: pointer;
        display: block;
        margin: 0 0.2em;
        padding: 0.5em 1em;
        transition: background ease 0.25s;

        &:hover {
            background: $g-root__color--secondary--04c;
            color: $g-root__color--primary--02b;
            text-decoration: none;
        }

        &:active {
            color: $g-root__color--primary--02b;
        }

        &:visited {
            color: $g-root__color--primary--02a;
        }

        // Selected
        &--selected {
            background: $g-root__color--primary--02a;
            color: white;
    
            &:hover,
            &:active {      
                background: $g-root__color--primary--02a;          
                color: white;
                cursor: default;                
            }
    
            &:visited {
                color: white;
            }
    
        }

    }

    // First Item
    &:first-child &__link {
        margin-left: 0;
    }

}
