@use 'colors';



a {
    color: colors.$color__primary--02a;
    cursor: pointer;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

a:hover {
    color: colors.$color__primary--02b;
}

a:active {
    color: colors.$color__primary--01a;
}

a:visited {
    color: colors.$color__primary--03a;
}
