:host-context(.example) {
    background: #675BA7; 
    border-radius: 0.5em;
    display: block; 
    margin: 1.5em 0; 
    padding: 1em 1.2em;
}

ul {
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0;
}

a {
    color: #fff; 
    padding: 0 1em; 
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}
