@use 'shared/scss/root/colors';
@use 'shared/scss/layout/container';
@use 'shared/scss/layout/grid';
@use 'shared/scss/typography/headers';
@use 'shared/scss/typography/paragraphs';




// Header
.header {
    background: colors.$g-root__color--secondary--04a;
    display: block;
    font-family: arial, sans-serif;
    overflow: hidden;
    margin-bottom: 1.8em;
}

.header__content {
    @include container.g-layout__container;
}

.header__title {
    @include headers.g-root__h1;
    color: white;
}

.header__sub-title {
    color: #888;
}

// Content
.content {
    @include container.g-layout__container;
}

.content__sections {
    @include grid.g-layout__grid;
}

.content__primary {
    @include grid.g-layout__grid__item--08;
}

.content__secondary {
    @include grid.g-layout__grid__item--04;
}

.content__title {
    @include headers.g-root__h2;
}

.content__sub-title {
    @include headers.g-root__h3;
}

.content__paragraph {
    @include paragraphs.g-root__paragraph
}

// Footer
.footer {
    background: colors.$g-root__color--secondary--04a;
    color: #555;
    display: block;
    font-family: arial, sans-serif;
    margin-top: 1.8em;
    overflow: hidden;
    padding: 1em 0 3em;
}

.footer__content {
    @include container.g-layout__container;
}

.footer__title {
    border-top: solid 1px #444;
    display: block;
    padding: 2.5em 0 0.3em;
}

.footer__sub-title {
    font-size: 0.8em;
}
