@import 'colors';
@import 'container';
@import 'grid';
@import 'headers';
@import 'paragraphs';




:host {
    font-size: 1rem;
}




// Header
.header {
    background: $g-root__color--secondary--04a;
    display: block;
    font-family: arial, sans-serif;
    overflow: hidden;
    margin-bottom: 1.8em;

    &__content {
        @include g-layout__container;
    }

    &__title {
        @include g-root__h1;
        color: white;
    }

    &__sub-title {
        color: #888;
    }

}

// Content
.content {
    @include g-layout__container;

    &__sections {
        @include g-layout__grid;
    }

    &__title {
        @include g-root__h2;
    }

    &__sub-title {
        @include g-root__h3;
    }

    &__paragraph {
        @include g-root__paragraph
    }

    // Large Viewports
    @media (min-width: 52rem) {

        &__primary {
            @include g-layout__grid__item--08;
        }

        &__secondary {
            @include g-layout__grid__item--04;
        }

    }

    // Small Viewports
    @media (max-width: 52rem) {

        &__primary {
            @include g-layout__grid__item--12;
        }

        &__secondary {
            @include g-layout__grid__item--12;
        }

    }

}

// Footer
.footer {
    background: $g-root__color--secondary--04a;
    color: #555;
    display: block;
    font-family: arial, sans-serif;
    margin-top: 1.8em;
    overflow: hidden;
    padding: 1em 0 3em;

    &__content {
        @include g-layout__container;
    }

    &__title {
        border-top: solid 1px #444;
        display: block;
        padding: 2.5em 0 0.3em;
    }

    &__sub-title {
        font-size: 0.8em;
    }

}
