// Primary
// _________________________________________________________________________________________

// 01
$color__primary--01a:   #F15B2A;
$color__primary--01b:   #C43B0E;
$color__primary--01c:   #F69C7E;

// 02
$color__primary--02a:   #2A9FBC;
$color__primary--02b:   #1F778D;
$color__primary--02c:   #76CBE0;

// 03
$color__primary--03a:   #404040;




// Secondary
// _________________________________________________________________________________________

// 01
$color__secondary--01a: #A62E5C;
$color__secondary--01b: #7D2345;
$color__secondary--01c: #D8739A;

// 02
$color__secondary--02a: #8BC850;
$color__secondary--02b: #77A032;
$color__secondary--02c: #C3DE96;

// 03
$color__secondary--03a: #675BA7;
$color__secondary--03b: #4D447E;
$color__secondary--03c: #A49DCA;

// 04
$color__secondary--04a: #171717;
$color__secondary--04b: #303030;
$color__secondary--04c: #E5E5E5;
