:host(.color--01) {

    .modal {
        background: white;

        &__close {
            border-color: #ccc;

            &::before,
            &::after {
                background: #ccc;
            }

        }

    }

}
