@import 'colors';




:host(.color--03) {

    // CSS Custom Properties
    --background: #1F778D;
    --foreground: white;

    .modal {
        background: $g-root__color--primary--02a;
        color: white;

        &__close {
            border: solid 1px white;

            &::before,
            &::after {
                background: white;
            }

        }

    }

}
