<a class="trigger" (click)="toggleOpenClose()">
    <ng-content></ng-content>
</a>
<div 
    [hidden]="!isOpen"
    (click)="toggleOpenClose()"
    class="shield">
</div>
<div 
    [hidden]="!isOpen" 
    class="modal">
    <a 
        (click)="toggleOpenClose()"
        class="modal__close">
        close
    </a>
    <div class="modal__content">
        <ng-content select="saa-modal-content"></ng-content>
        <div class="modal__highlight">
            <p>
                Angular revolutionizes the way that you architect CSS for modern web applications. But before you can become Angular styling ninjas, you need to take a step back and consider the many different ways that things can be done.
            </p>
            <ng-content select="saa-modal-highlight"></ng-content>
        </div>
    </div>
</div>
