@import 'colors';




:host {
    display: block;
    font-size: 1rem;
    margin: 2em 0;
}

.items {
    border-bottom: solid 1px #ccc;
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0;
}

.item {
    margin-bottom: -1px;
}
    
.item__link {
    background: #efefef;
    border-radius: 0.5em 0.5em 0 0;
    border: solid 1px #ccc;
    color: $g-root__color--primary--02a;
    cursor: pointer;
    display: block;
    margin: 0 0.2em;
    padding: 1em;
    transition: background ease 0.25s;
}

.item__link:hover {
    background: $g-root__color--secondary--04c;
    border-bottom-color: #ccc;
    color: $g-root__color--primary--02b;
    text-decoration: none;
}

.item__link:active {
    color: $g-root__color--primary--02b;
}

.item__link:visited {
    color: $g-root__color--primary--02a;
}

// First Item
.item:first-child .item__link {
    margin-left: 0;
}

// Active
.item__link--active {
    background: white;
    border-bottom-color: transparent;
    color: $g-root__color--primary--03a;
}

.item__link--active:hover,
.item__link--active:active,
.item__link--active:visited {      
    background: white; 
    border-bottom-color: transparent;        
    color: $g-root__color--primary--03a;
    cursor: default;                
}
