@import '../../../scss/root/colors';
@import '../../../scss/layout/container';




:host {
    background: $g-root__color--primary--01a;
    display: block; 
    margin-top: 1.8em; 
    padding: 1em 0 0;
}




// Primary
// _________________________________________________________________________________________
.primary {
    @include g-layout__container;
    display: flex; 
    list-style: none;
} 

.primary__item {
    padding: 0 1em;
}

.primary__item-icon {
    fill: white;
    height: 0.8em;
    margin-right: 0.25em;
    width: 0.8em;
}

.primary__item-link {
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
}
    
.primary__item-link:hover {
    color: white; 
    text-decoration: underline;
}

// First
.primary__item:first-child {
    padding-left: 0;
}




// Secondary
// _________________________________________________________________________________________
.secondary {
    background: $g-root__color--primary--01b;
}

.secondary__items {
    @include g-layout__container;
    display: flex; 
    list-style: none;
    margin-top: 0.8em;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
} 

.secondary__item {
    padding: 0 1rem; 
}

.secondary__item-link {
    color: rgba(white, 0.6);
    cursor: pointer;
    font-size: 0.7em;
    margin-top: 0.8em;
    text-decoration: none;
}
    
.secondary__item-link:hover {
    color: white; 
    text-decoration: underline;
}

// First
.secondary__item:first-child {
    padding-left: 0;
}
