@import 'colors';
@import 'container';




:host {
    background: $g-root__color--primary--01a;
    display: block; 
    font-size: 1rem;
    margin-top: 1.8em; 
    padding: 1em 0;
}

.items {
    @include g-layout__container;
    display: flex; 
    list-style: none; 
}


.item {
    padding: 0 1em;
}

.item__icon {
    fill: white;
    height: 0.8em;
    margin-right: 0.25em;
    width: 0.8em;
}

.item__link {
    color: white; 
    cursor: pointer;
    font-size: 1.2em;    
    text-decoration: none;
}
        
.item__link:hover {
    color: white; 
    text-decoration: underline;
}

// First
.item:first-child {
    padding-left: 0;
}
