<ul class="items">
    <li class="item">
        <div class="item__thumbnail">
            <img 
                src="/assets/images/knife.png" 
                alt="Component Themes"
                class="item__image" />
        </div>
        <div class="item__content">
            <h3 class="item__title">Component Themes</h3> 
            <p class="item__description">
                Focus on creating components that have multiple themes and we explore some different ways that we can apply them. First we explicitly set the theme per instance by adding classes and properties to components and we explore what that this SCSS/CSS would look like. We then look at providing context aware themes for components that will...
            </p> 
            <a class="item__button">Learn More</a> 
        </div>
    </li>
    <li class="item"> 
        <div class="item__thumbnail">
            <img 
                src="/assets/images/beaker.png" 
                alt="Styles in Angular"
                class="item__image" />
        </div>
        <div class="item__content">
            <h3 class="item__title">Styles in Angular</h3> 
            <p class="item__description">
                A dive into how styles work in Angular 2.0+. We cover how the different view encapsulation modes work, what they mean as far as the compiled code and scope, and why we may want to use each of them. We then move into the different ways that we can add styles to components, how Angular handles them, and how their priority flows through. After...
            </p> 
            <a class="item__button">Learn More</a> 
        </div>
    </li>
</ul>